* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid gray; */
}

div {
  /* border: 1px solid blue; */
}

@font-face {
  font-family: Digital;
  src: url(font/digital-7.ttf);
  /* font-weight: bold;    */
  /* font-style: normal; */
}
@font-face {
  font-family: Casio;
  src: url(font/ncc1701a.ttf);
  /* font-weight: bold;    */
  /* font-style: normal; */
}
@font-face {
  font-family: Casio2;
  src: url(./font/webfonts_Imaki-Italic/Imaki-Italic.ttf.woff);
  /* font-weight: bold;    */
  /* font-style: normal; */
}

@font-face {
  font-family: Imaki-Italic;
  src: url() format("woff"),
    url("./font/webfonts_Imaki-Italic/Imaki-Italic.ttf.svg") format("svg"),
    url("./font/webfonts_Imaki-Italic/Imaki-Italic.ttf.eot"),
    url("./font/webfonts_Imaki-Italic/Imaki-Italic.ttf.eot") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}


.container {
  width: min-content;
  margin: 10px auto;
  padding: 12px 10px;
  /* display: grid; */
  /* grid: auto 90px 400px / 3fr 1fr; */
  border: 2px solid rgb(227, 223, 223);
  border-radius: 10px;
  background-color: rgb(237, 237, 236);
  box-shadow: 0 0 25px grey ;

}
.infoSolar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  width: 40%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.casio {
  font-family: Casio2;
  margin-bottom: 10px;
}


.naturalDisplay {
  font-family: Imaki-Italic, Times, serif;
  font-size: medium;
}


.solarPanelDiv {
  display: flex;
  width: 200px ;
  flex-direction: column;
  align-items: end;
 
}
.solarPanel {
  width: 100%;
 
}

.screen {
  font-family: Digital, sans-serif;
  font-size: 60px;
  text-align: end;
  margin: 10px auto;
  background-color: rgb(227, 223, 223);
  padding: 10px;
  width: 100%;
}

#screenDiv {
  display: flex;
  width: 100%;
  height: 99px;
}

.buttons {
  display: flex;
  place-items: center;
}
.numbers {
  /* width: 370px; */
  display: grid;
  grid: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 15px;
  
}
.numberBtn {
  align-items: center;
  font-size: 30px;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  font-weight: 900;
  cursor: pointer;
  border: transparent;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);

  background: linear-gradient(
    180deg,
    #e6e6e6 0%,
    rgba(0, 0, 0, 0.25) 30%,
    rgba(38, 38, 38, 0.6) 71%,
    rgba(0, 0, 0, 0.25) 100%
  );
}

.numberBtn:active {
  transform: translate(2px, 2px);
  /* -webkit-transform: translate(2px); */
}

.operators {
  display: grid;
  grid: 1fr 1fr 1fr 1fr / 1fr 1fr;
  place-items: center;
  gap: 15px;
  margin-left: 15px;

}


